venv/
#This ignores the virtual environment files created when setting up the venv
__pycache__ 
*.pyc
#These ignore the cache files created when running unit tests
chromium/
#This ignores the chromium directory needed for testing 
*.db
#This ignores any test databases created during development of the app
*.coverage
#This ignores any coverage reports made during unit testing