{% extends "layouts.html" %}
{% block body_content %}
<br>
<h1>Add a book to the Library</h1>
        <div class='form'>
                <form method='POST' action=''>
                {{ form.hidden_tag() }}
                {{ form.bookName.label }}
                {{ form.bookName }}
                <br>
                {{ form.author.label }}
                {{ form.author }}
                <br>
                {{ form.book_loaned.label }}
                {{ form.book_loaned }}
                <br>
                {{ form.submit }}
                </form>
                </div>
{% endblock %}