{% extends "layouts.html" %}
{% block body_content %}
<br>
<h1>Library</h1>
{% for book in books %}
        <div>
                <p>
                |Book Title| {{ book.bookName }}
                |Author| {{ book.author }}
                |Loaned| {{ book.book_loaned }}
                </p>
        </div>
	<form action="{{ url_for ('book_delete', id=book.id) }}">
		<button type= "submit">Delete book</button>
	</form>
	<form action="{{ url_for ('book_edit', id=book.id) }}">
                <button type= "submit">Edit book details</button>
        </form>
{% endfor %}
{% endblock %}